
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

body{
    font-family:"League Spartan";
     background-color:#20212a;
     color:white;
   }

   header{
    font-size:50px; 
   }
   #navbar{
   position:fixed;
   }

   .navbar-elm{
    list-style-type:none;
    margin:0px;
    padding:0px;
    width:350px;
     background-color:black;
     height:100vh;
     overflow:auto;
     color:orangered;
     transition:border-radius .5a ease;
   }

   navbar-elm:hover{
    border-radius:50px; 
   }

   .nav-link{
   display:block;
   color:green;
    padding:20px 22px;
     text-decoration:none;
     list-style-type:none;
     text-align:center;
     font-size:20px;
     transition:color .5a ease, text-shadow .5a ease
   }

   nav-link:hover{
    color:#056608;
     text-shadow:0px 0px 20px #ffcc00;  
   }

   .navbar-header{
    text-align:center 
   }

   #main-doc{
    margin:0px;
    margin-left:400px; 
     color:green;
   }

   .title{
     color:orangered;
   }
   
   @media screen and (max_width:600px){
   .navbar-elm{
     position:fixed;
     width:300px;
   }
     #main-doc{
     margin-left:250px;  
     }  
     
   }